body.page-gallery-category-a {
	background-color: #FFFFFF;
	cursor: default;
}

body.page-gallery-category-z {
	background-color: #323232;
}

.project-container{
	color: #FFFFFF;
	font-size: 0.750em;
	width: 33.33%;
	float: left;
	list-style-type: none;
	padding: 2% 6% 4% 6%;	
}

.project {
	max-width: 315px;
	width: 100%;
	background-color: #000000;
	position: relative;
}

.project-description{
	position: absolute;
	top: 8%;
	left: 8%;
	z-index:1;
}

.project a img{
	position: relative;
	opacity: 1;
	transition: opacity 0.5s ease-in-out 0s;
	z-index:2;
	display: block;
}

.project a:hover{
   cursor: url('../img/cursor.jpg'), auto;
}

.project a:hover > img{
   opacity: 0;
}


@media (max-width: 950px) {
	.project-container{
		width: 50%;		
		padding: 2% 10% 7% 10%;
	}

}

@media (max-width: 550px) {
	.project-container{
		width: 100%;		
		padding: 2% 25% 18% 25%;
	}

}

@media (max-width: 450px) {
	.project-container{
		padding: 2% 20% 18% 20%;
	}

}

@media (max-width: 280px) {
	.project-container{
		padding: 2% 0 18% 0;
	}

}