.page-contact .entry-header {
	display:none;
}
	
.page-contact .entry-content div {
	width: 22%;
	float: left;
	margin-right:7%;
}

.page-contact .entry-content div:nth-of-type(2) {
	width: 32%;
}


.page-contact .entry-content div:nth-of-type(3) {
	width: 25%;
}