body{
	transition: opacity  0.5s ease-in-out 1s;
	transition: background-color  0.5s ease-in-out 0s;
}

#content {
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
	transition: all 1s ease-in-out 0s;
}

.content-area{
	transition: all 0.5s ease-in-out 0s;
	padding-top: 220px;
	opacity: 1;	
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.fade-out-page {
	opacity: 0;
	padding-top: 100px;
	top: 25% !important; 
}

.fade-in-page {
	opacity: 100 !important;
	padding-top: 0 !important; 
}

.fade-out {
	opacity: 0 !important; 
}

.fade-in {
	opacity: 1 !important; 
}