body{
	transition: opacity  0.5s ease-in-out 1s;
	transition: background-color  0.5s ease-in-out 0s;
}

.site-content {
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
	transition: all 0.75s ease-out 0s;
}

.content-area{
	transition: all 0.75s ease-out 0s;
	padding-top: 300px;
	opacity: 1;	
}

.fade-out-page {
	opacity: 0;
	padding-top: 100px;
	margin-bottom: 100px;
}

.fade-in-page {
	opacity: 1;
	padding-top: 220px;
}

.fade-out {
	opacity: 0 !important; 
}

.fade-in {
	opacity: 1 !important; 
}

@media (max-width: 950px) {
	.fade-out-page {
		padding-top: 80px;
		margin-bottom: 80px;
	}

	.fade-in-page {
		padding-top: 180px;
	}
}

@media (max-width: 400px) {
	.fade-out-page {
		padding-top: 40px;
		margin-bottom: 40px;
	}

	.fade-in-page {
		padding-top: 140px;
	}

}