body.single-post, body.page-template-page-puente{
	background-color: #1B1B1B;
	color: #FFFFFF;
	/* font-size: 0.875em; */
}

.entry-text {
	margin: 2% 0 8% 0;
}

.post img {
	margin: 0 0 2% 0;
}

#project-title {
	float: left;
	width: 25%;
	height: 100%;
}

#project-text {
	float: left;
	width: 75%;
	height: 100%;
}

#project-text p{
	padding-bottom: 15px;
}

figure{
	margin: 0;
}

/* pagination menu */

#pagination-menu {
	margin-bottom: 25%;
}

#pagination-menu ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

#pagination-menu ul li{
	width:33%;
	height:20px;
	float: left;
	display: block;
}

#pagination-menu ul li div{
	background-color:white;
	cursor: pointer;
	width:20px;
	height:20px;
}

#square-next {
	float:left;
}

#square-previous {
	float:right;
}

#scroll-up{
	margin: 0 auto;
}

/* related posts */

#related-posts{
	transition: all 0.5s ease-out 0s;
	opacity: 0;
}

.yarpp-related {
	margin: 0 !important;
}

.yarpp-related ol{
	margin: 0;
	padding: 0;
	list-style:none;
}

.yarpp-related .project-container{
	margin: 0;
	font-size: 100%;
}

@media (max-width: 950px) {
	.yarpp-related .project-container{
		width: 33.33%;	
		font-size: 75%;
		margin: 2% 6% 4% 6%;	
	}

}
	