body.single-post{
	background-color: #1B1B1B;
	color: #FFFFFF;
	font-size: 0.875em;
}

.entry-text {
	margin-bottom: 6%;
}

.post img {
	margin: 0 0 2% 0;
}

#project-title {
	float: left;
	width: 25%;
	height: 100%;
}

#project-text {
	float: left;
	width: 75%;
	height: 100%;
}

#project-text p{
	padding-bottom: 15px;
}

figure{
	margin: 0;
}

/* related posts */

#related-posts{
	opacity: 0;
	padding-top: 2%;
	transition: all 0.5s ease-out 0s;
}

.yarpp-related {
	margin: 0 !important;
}

.yarpp-related ol{
	margin: 0;
	padding: 0;
	list-style:none;
}

.yarpp-related .project-container{
	margin: 0;
	font-size: 100%;
}

@media (max-width: 950px) {
	.yarpp-related .project-container{
		width: 33.33%;	
		font-size: 75%;
		padding: 2% 6% 4% 6%;	
	}

}
	