.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* pu-ente menu */
.main-menu {
	position: fixed;
	width: 100%;
	z-index: 99;
}

.square-menu {
	width: 25px;
	height: 25px;
	background-color: #000000;
	float: left;
	margin: 70px 0 0 70px;
	cursor: pointer;
}

.square-menu.right {
	float: right;
	margin: 70px 70px 0 0;
}

.cross-menu {
	font-weight: bolder;
	float: left;
	margin: 60px 0 0 70px;
	cursor: pointer;
}

.cross-menu.right {
	float: right;
	margin: 60px 70px 0 0;
}

.cross-menu:before {
	content: '\00d7'; 
	color: #000000;
	font-family: 'Graphie-Bold';
	font-size: 40px;
}

.single-post .square-menu, .page-template-page-contact .square-menu {
	background-color: #FFFFFF;
}

.single-post .cross-menu:before, .page-template-page-contact .cross-menu:before{
	color: #FFFFFF;
}

/* post navigation*/

.pag {
	float: left;
	width: 100%;
}

/* sub menu */

.overlay{
	transition: all 1s ease-in-out 0.5s;
	position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:99;
    opacity: 0;
    cursor: pointer;
}

.sub-menu{
	transition: all 1s ease-in-out 0.5s;
	position:fixed;
    top: 25%;
    margin-left: 70px;
    z-index:100;
    max-width: 300px;
    max-height: 300px;
	width: 80%;
	height: 80%;
	font-size: 0.750em;
	opacity: 0;
}
.sub-menu li:hover{
	cursor: pointer;
}

.sub-menu ul{
	position:absolute;
	top: 11%;
	left: 11%;
}

#sub-languages{
	top:auto;
	bottom: 11%;
}

.page-gallery-category-z .overlay{
	background-color:$color__main-mid;
}

.page-gallery-category-z .sub-menu{
	background-color:$color__main-light;
    color:$color__main-dark;   
}

.page-gallery-category-a .overlay{
	background-color:$color__main-light;
}

.page-gallery-category-a .sub-menu{
	background-color:$color__main-mid;
    color:$color__main-light;   
}
