@import url("//hello.myfonts.net/count/2c1d29");
  
@font-face {font-family: 'Graphie-Bold';src: url('../webfonts/2C1D29_0_0.eot');src: url('../webfonts/2C1D29_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2C1D29_0_0.woff') format('woff'),url('../webfonts/2C1D29_0_0.ttf') format('truetype');}
  
@font-face {font-family: 'Graphie-Regular';src: url('../webfonts/2C1D29_1_0.eot');src: url('../webfonts/2C1D29_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2C1D29_1_0.woff') format('woff'),url('../webfonts/2C1D29_1_0.ttf') format('truetype');}
 
