@import "fontface";

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	line-height: $font__line-height-body;
	font: normal 400 1em 'Graphie-Regular', sans-serif;	
}

@import "headings";

@import "copy";